body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.forms{
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 50px;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  background-color: lightblue;
}

.tables{
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 50px;
  background-color: lightblue;
  padding-left: 20%;
  padding-right: 20%;
}